html {
  background-color: #495562;
  color: #efefef;
  font-family: Georgia, serif;
}

.banner {
  max-height: 500px;
}

.btn {
  color: #efefef;
  border-color: #97a49b;
}

.btn:hover {
  background-color: #efefef;
  border-color: #efefef;
  color: #495562;
}

@media only screen and (min-width: 60em) {

  html {
    color: #fff;
  }

  .content {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: transparent;
    background-image: linear-gradient(to bottom, rgba(73, 85, 98, 0), rgba(73, 85, 98, .9));
  }

  .btn {
    color: #fff;
    position: absolute;
    right: 25%;
  }

}
